<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Explore</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>

    <div class="main">
        <p>Mission Statement</p>
        <p>We serve</p>
        <p>We were founded</p>
        <p>Milestones
            <ul>
                <li>2020 - Founded</li>
                <li>2021 - First Exhibition</li>
                <li>2022 - Expansion</li>
            </ul>
        </p>

    </div>
     <footer>
         <p>&copy; 2026 MonoMuse. All rights reserved.</p>

    </footer>
</body>
</html>